extends ../main

block variables
    - var title = 'Главная'
    - var headerDopClass = ''

block content
    main.main
        // -slider
        section.main__slider
            .slider
                .swiper-container.slider__container
                    .swiper-wrapper.slider__wrapper
                        each i in [1,2,3,4]
                            .swiper-slide.slider__slide
                                div(style='background-image:url(images/content/main/slider/img.jpg)').slide
                                    .container.slide__container
                                        .slide__title
                                            | наружная реклама
                                            br
                                            | на вашей улице
                                        a(href='catalog.html').slide__link.button
                                            .button__title Типы конструкций
                    // -pagination
                    .slider__pag
                        .container.slider__pag-container
                            .swiper-pagination.slider__pag-pag

        //- types
        section.main__types
            .types
                .container
                    //- top
                    .types__top
                        .types__title.title Типы конструкций
                        a(href='catalog.html').types__link.link Все конструкции

                    //- slider
                    .types__slider
                        .swiper-container.types__container
                            .swiper-wrapper.types__wrapper
                                each i,x in types
                                    .swiper-slide
                                        a(href='category.html').types__slide
                                            .types__slide-img
                                                img(src='images/content/main/types/' + (x + 1) + '.png').types__slide-pic
                                            .types__slide-desc
                                                .types__slide-title= i.title
                                                .types__slide-size
                                                    +icon('ruler', 'types__slide-svg')
                                                    .types__slide-char= i.size



                            //- nav
                            button(type=button).types__prev.arrow
                                +icon('left', 'arrow__svg')
                            button(type=button).types__next.arrow
                                +icon('right', 'arrow__svg')
        //- popular
        section.main__popular
            .container
                .main-pop
                    .main-pop__title Популярные рекламные конструкции

                    .main-pop__table
                        +list([1,2,3,4,5])
                    .main-pop__more
                        a(href='catalog.html').button.main-pop__link
                            .button__title Больше билбордов
        //- bilboards
        section.main__boards
            .main-boards
                .container
                    .main-boards__title.title Поиск Билбордов
                    .main-boards__map
                        img(src='images/content/main/bilboards.png')
        //- news
        section.main__news
            .mnews
                .container
                    .mnews__top
                        //- title
                        .mnews__title.title  Новости компании

                        //- switches
                        .mnews__switches
                            div(data-id=1).mnews__switch.active Новости компании
                            div(data-id=2).mnews__switch Новости рынка


                    //- tabs
                    .mnews__tabs
                        div(data-id=1).mnews__tab.active
                            .mnews__slider
                                .swiper-container.mnews__container
                                    .swiper-wrapper.mnews__wrapper
                                        each i,x in [1,2,1,2,1,2]
                                            .swiper-slide
                                                .mnews__slide
                                                    .mnews__slide-img
                                                        img(src='images/content/main/mnews/' + i + '.jpg').mnews__slide-pic
                                                    .mnews__slide-title Изменения в Законе о рекламе в 2019. Товары, реклама которых недопустима.
                                                    .mnews__slide-bottom
                                                        .mnews__date
                                                            .mnews__date-title Опубликовано:
                                                            .mnews__date-date 29.05.2019
                                                        a(href='news-detail.html').mnews__link.link Читать далее
                                //- nav
                                button(type=button).mnews__prev.arrow
                                    +icon('left', 'arrow__svg')
                                button(type=button).mnews__next.arrow
                                    +icon('right', 'arrow__svg')


                        div(data-id=2).mnews__tab
                            .mnews__slider
                                .swiper-container.mnews__container
                                    .swiper-wrapper.mnews__wrapper
                                        each i,x in [1,2,1,2,1,2]
                                            .swiper-slide
                                                .mnews__slide
                                                    .mnews__slide-img
                                                        img(src='images/content/main/mnews/' + i + '.jpg').mnews__slide-pic
                                                    .mnews__slide-title 2Изменения в Законе о рекламе в 2019. Товары, реклама которых недопустима.
                                                    .mnews__slide-bottom
                                                        .mnews__date
                                                            .mnews__date-title Опубликовано:
                                                            .mnews__date-date 29.05.2019
                                                        a(href='news-detail.html').mnews__link.link Читать далее
                                //- nav
                                button(type=button).mnews__prev.arrow
                                    +icon('left', 'arrow__svg')
                                button(type=button).mnews__next.arrow
                                    +icon('right', 'arrow__svg')
        //- about
        section.main__about
            .mabout
                .container
                    .row
                        .mabout__wrap
                            .mabout__top
                                .mabout__title.title О компании 21 Век
                                a(href='about.html').mabout__link.link Подробнее
                            .mabout__content
                                .content
                                    p Компания «21 век» была основана в 1999 году. Сфера ее деятельности – оказание услуг по производству и размещению наружной рекламы. За годы существования агентство сумело занять прочные позиции в Москве и Московской области, и сегодня продолжает свое активное развитие, благодаря запуску новых продуктов в различных сегментах рынка наружной рекламы.
                                    h4 Основные принципы работы
                                    ul
                                        li Эффективность;
                                        li Надежность;
                                        li Профессионализм;
                                        li Высокое качество обслуживания;
                                        li Инновационность;
                                        li Ориентация на нужды клиентов;




