extends ../main

block variables
    - var title = 'Главная'
    - var headerDopClass = ''

block content
    main.main
        // -slider
        section.main__slider
            .slider
                .swiper-container.slider__container
                    .swiper-wrapper.slider__wrapper
                        each i in [1,2,3,4]
                            .swiper-slide.slider__slide
                                div(style='background-image:url(images/content/main/slider/img.jpg)').slide
                                    .container.slide__container
                                        .slide__title
                                            | наружная реклама
                                            br
                                            | на вашей улице
                                        a(href='catalog.html').slide__link.button
                                            .button__title Типы конструкций
                    // -pagination
                    .slider__pag
                        .container.slider__pag-container
                            .swiper-pagination.slider__pag-pag

        //- types
        section.main__types
            .types
                .container
                    //- top
                    .types__top
                        .types__title.title Типы конструкций
                        a(href='catalog.html').types__link.link Все конструкции

                    //- slider
                    .types__slider
                        .swiper-container.types__container
                            .swiper-wrapper.types__wrapper
                                each i,x in types
                                    .swiper-slide.types__wrapper-slide
                                        a(href='category.html').types__slide
                                            .types__slide-img
                                                img(src='images/content/main/types/' + (x + 1) + '.png').types__slide-pic
                                            .types__slide-desc
                                                .types__slide-title= i.title
                                                .types__slide-size
                                                    +icon('ruler', 'types__slide-svg')
                                                    .types__slide-char= i.size



                            //- nav
                            button(type=button).types__prev.arrow
                                +icon('left', 'arrow__svg')
                            button(type=button).types__next.arrow
                                +icon('right', 'arrow__svg')
        //- popular
        section.main__popular
            .container
                .main-pop
                    .main-pop__title Популярные рекламные конструкции

                    .main-pop__table
                        +list([1, 2, 3, 4, 5])
                    .main-pop__more
                        a(href='catalog.html').button.main-pop__link
                            .button__title Больше билбордов
        //- bilboards
        section.main__boards
            .main-boards
                .container
                    .main-boards__title.title Поиск Билбордов
                    .main-boards__map
                        .bboards
                            form.bboards__form
                                .row.bboards__row
                                    .bboards__field
                                        select(name='direction' placeholder="Направление").select
                                            option(value='') Направление
                                            option(value='Юг') Юг
                                            option(value='Север') Север
                                            option(value='Восток') Восток
                                            option(value='Запад') Запад
                                    .bboards__field
                                        select(name='format' placeholder="Формат конструкции").select
                                            option(value='') Формат конструкции
                                            option(value='main') Магистральные щиты
                                            option(value='city') Ситиборды
                                            option(value='super') Суперборды
                                            option(value='cite') Суперсайты
                                            option(value='digital') Цифровые билборды
                                    .bboards__field
                                        select(name='side' placeholder="Сторона").select
                                            option(value='') Сторона
                                            option(value='А') А
                                            option(value='Б') Б
                                    .bboards__field
                                        select(name='available' placeholder="Занятость").select
                                            option(value='') Май
                                            option(value='Май') Май
                                            option(value='Июнь') Июнь
                                            option(value='Июль') Июль
                                    .bboards__field
                                        select(name='POI' placeholder="POI").select
                                            option(value='') POI
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                            option(value='4') 4


                                .row.bboards__row
                                    .bboards__radios
                                        label.bboards__check.radio
                                            input(type='radio' name='status' value='' checked=true).radio__input
                                            .radio__label
                                                .radio__fake
                                                .radio__title Все билборды
                                        label.bboards__check.radio
                                            input(type='radio' name='status' value=1).radio__input
                                            .radio__label
                                                .radio__fake
                                                .radio__title Свободные билборды
                                        label.bboards__check.radio
                                            input(type='radio' name='status' value=2).radio__input
                                            .radio__label
                                                .radio__fake
                                                .radio__title Занятые билборды
                                        label.bboards__check.radio
                                            input(type='radio' name='status' value=3).radio__input
                                            .radio__label
                                                .radio__fake
                                                .radio__title Освобождающиеся


                                    .bboards__buttons
                                        .row
                                            button(type='reset').bboards__button.button2
                                                .button2__title Сбросить фильтр
                                            button(type='submit').bboards__button.button
                                                .button__title Отобразить

                            .bboards__map#bMap
        //- news
        section.main__news
            .mnews
                .container
                    .mnews__top
                        //- title
                        .mnews__title.title  Новости компании

                        //- switches
                        .mnews__switches
                            div(data-id=1).mnews__switch.active Новости компании
                            div(data-id=2).mnews__switch Новости рынка


                    //- tabs
                    .mnews__tabs
                        div(data-id=1).mnews__tab.active
                            .mnews__slider
                                .swiper-container.mnews__container
                                    .swiper-wrapper.mnews__wrapper
                                        each i,x in [1,2,1,2,1,2]
                                            .swiper-slide
                                                .mnews__slide
                                                    .mnews__slide-img
                                                        img(src='images/content/main/mnews/' + i + '.jpg').mnews__slide-pic
                                                    .mnews__slide-title Изменения в Законе о рекламе в 2019. Товары, реклама которых недопустима.
                                                    .mnews__slide-bottom
                                                        .mnews__date
                                                            .mnews__date-title Опубликовано:
                                                            .mnews__date-date 29.05.2019
                                                        a(href='news-detail.html').mnews__link.link Читать далее
                                //- nav
                                button(type=button).mnews__prev.arrow
                                    +icon('left', 'arrow__svg')
                                button(type=button).mnews__next.arrow
                                    +icon('right', 'arrow__svg')


                        div(data-id=2).mnews__tab
                            .mnews__slider
                                .swiper-container.mnews__container
                                    .swiper-wrapper.mnews__wrapper
                                        each i,x in [1,2,1,2,1,2]
                                            .swiper-slide
                                                .mnews__slide
                                                    .mnews__slide-img
                                                        img(src='images/content/main/mnews/' + i + '.jpg').mnews__slide-pic
                                                    .mnews__slide-title 2Изменения в Законе о рекламе в 2019. Товары, реклама которых недопустима.
                                                    .mnews__slide-bottom
                                                        .mnews__date
                                                            .mnews__date-title Опубликовано:
                                                            .mnews__date-date 29.05.2019
                                                        a(href='news-detail.html').mnews__link.link Читать далее
                                //- nav
                                button(type=button).mnews__prev.arrow
                                    +icon('left', 'arrow__svg')
                                button(type=button).mnews__next.arrow
                                    +icon('right', 'arrow__svg')
        //- about
        section.main__about
            .mabout
                .container
                    .row
                        .mabout__wrap
                            .mabout__top
                                .mabout__title.title О компании 21 Век
                                a(href='about.html').mabout__link.link Подробнее
                            .mabout__content
                                .content
                                    p Компания «21 век» была основана в 1999 году. Сфера ее деятельности – оказание услуг по производству и размещению наружной рекламы. За годы существования агентство сумело занять прочные позиции в Москве и Московской области, и сегодня продолжает свое активное развитие, благодаря запуску новых продуктов в различных сегментах рынка наружной рекламы.
                                    h4 Основные принципы работы
                                    ul
                                        li Эффективность;
                                        li Надежность;
                                        li Профессионализм;
                                        li Высокое качество обслуживания;
                                        li Инновационность;
                                        li Ориентация на нужды клиентов;




