include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title 21 Век | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header(class=headerDopClass).header
                // -top
                .header__top
                    .container
                        .header__top-row
                            //- socials
                            .header__socials
                                include common/socials

                            //- contacts
                            .header__contacts
                                each i in headerContacts
                                    .header__contact
                                        a(href=i.href).contact
                                            +icon(i.svg, 'contact__svg')
                                            .contact__title= i.title

                //- bottom
                .header__bottom
                    .container
                        .row.header__bottom-row
                            //- logo
                            .header__logo
                                include common/logo

                            //- nav
                            .header__nav
                                include common/nav
            //- pages
            .page
                block content

            //- footer
            footer.footer
                .footer__top
                    .container
                        .row.footer__top-row
                            .footer__logo
                                include common/logo
                            .footer__nav
                                include common/nav


                .footer__middle
                    .container
                        .row
                            .footer__left
                                .footer__contacts
                                    each i in headerContacts
                                        .footer__contact
                                            a(href=i.href).contact.contact_footer
                                                +icon(i.svg, 'contact__svg')
                                                .contact__title= i.title
                                .footer__contacts
                                    .footer__contact
                                        a(href='/').contact.contact_footer
                                            +icon('pin', 'contact__svg')
                                            .contact__title г. Москва, ул. Пятницкая, д. 25, стр. 1

                                .footer__socials
                                    include common/socials

                            .footer__right
                                .footer__menu
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Цифровой суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Магистральный щит
                                .footer__menu
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Цифровой суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Магистральный щит
                                .footer__menu
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Цифровой суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Суперсайт
                                    a(href='/').footer__item
                                        +icon('hexagon', 'footer__item-svg')
                                        .footer__item-title Магистральный щит




                .footer__bottom
                    .container.footer__bottom-row
                        .footer__copy © Рекламное агенство «21век», 2019
                        a(href='/').footer__policy Политика конфиденциальности


    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div




    button(type='button').callback-button.jsCallback
        +icon('tel', 'callback-button__svg')

    .popup
        .popup__wrapper

    template#callback
        .callback
            form().callback__form.form
                button(type='button').form__close Закрыть
                .form__title Форма обратной связи
                .form__subtitle
                    | Заполните поля формы и нажмите «Заказать звонок»
                    br
                    | и наш менеджер свяжется с Вами в течени 30 минут.
                .form__fields
                    .form__row.row
                        .form__field.form__field_2
                            input(type='text' name='name' placeholder='Ваше имя').input
                        .form__field
                            input(type='tel' name='tel' placeholder='Телефон').input
                        .form__field
                            input(type='email' name='email' placeholder='Email').input
                        .form__field.form__field_2
                            textarea(name='message' placeholder='Сообщение').input.input_area
                .form__fz
                    .fz
                        label.fz__label
                            input(type='checkbox' name='fz' checked=true).fz__input
                            .fz__fake
                            .fz__desc
                                .fz__title Я даю согласие на обработку персональных данных.
                                a(href='/').fz__link Прочитать пользовательское соглашение.

                .form__buttons
                    button(type='submit').form__button.button
                        .button__title Заказать звонок
                input(type='hidden' name='action' value='callback')


    template#callorder
        .callorder
            form().callback__form.form
                button(type='button').form__close Закрыть
                .form__title Форма обратной связи
                .form__subtitle
                    | Заполните поля формы и нажмите «Заказать звонок»
                    br
                    | и наш менеджер свяжется с Вами в течени 30 минут.
                .form__img
                    img(src='images/content/forms/img.jpg').form__pic
                .form__chars
                    .form__char
                        .form__char-name Инвентарный номер:
                        .form__char-val.form__id 465
                    .form__char
                        .form__char-name Стоимость:
                        .form__char-val.form__price 12 000 руб./мес
                .form__fields
                    .form__row.row
                        .form__field.form__field_2
                            input(type='text' name='name' placeholder='Ваше имя').input
                        .form__field
                            input(type='tel' name='tel' placeholder='Телефон').input
                        .form__field
                            input(type='email' name='email' placeholder='Email').input
                        .form__field.form__field_2
                            textarea(name='message' placeholder='Сообщение').input.input_area
                .form__fz
                    .fz
                        label.fz__label
                            input(type='checkbox' name='fz' checked=true).fz__input
                            .fz__fake
                            .fz__desc
                                .fz__title Я даю согласие на обработку персональных данных.
                                a(href='/').fz__link Прочитать пользовательское соглашение.

                .form__buttons
                    button(type='submit').form__button.button
                        .button__title Заказать звонок
                input(type='hidden' name='action' value='callorder')
                input(type='hidden' name='id' value='465')



    script(src='js/vendor.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    script(src='js/main.min.js')
